
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}
.tagButton{
  margin-top: 5px;
}
#random-image{
  display: none;
}
table, th, td {
  border:1px solid black;
}

th{
  font-weight: normal;
  padding: 4px;
}

#generate-image-button{
  display: none;
}
.subbody{
  height: 98vh;
}

#frame{
  width: 50%;
}

#frames {
  width: 75%;
}

body{
  display:flex;
}
        
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Modal Content */
.modal-content {
  margin-left: 200px;
  margin-top: 0px;
  width: 80%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
img {
    float: left;
    height:  300px;
    object-fit: cover;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.intro{
  padding-bottom: 5px;
}

#double{
  height: 400px;
}

#random-image {
  z-index: -100;
  float: right;
  position: absolute;
  right: 0;
}

#menu-btn {
  display: none;
}

#content {
 position: relative;
  z-index: 0;
  margin-top:0;
  display: flex;
  padding-bottom: 5px;
}

#links {
font-family: arial;
  top: 0;
  left: 5;
  width: 100%;
  background-color: none;
}

#image-container {
  order: 2;
}

@media only screen and (max-width: 720px) {

#random-image{
    display:block;
  }
  #tags{
    display: none;
  }
  iframe{
    display:none;
  }
  body{
  display:block;
}
  img {
    float: left;
    width:  100%;
    height:  auto;
    object-fit: cover;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 8px;
  }
    #menu-btn {
    display: block;
  }

    #content {
    flex-direction: column;
    margin-top: 0;
    display: block;
  }

 #links.show {
  max-width: 97%;
    position: absolute;
    margin-top: 29.5px;
    display: block;
    background-color: white;
  }
  #links {
    display: none;
  }
  .modal .modal-content{
    display: none;
  }

  #generate-image-button {
    display: block;
  }

  #image-container {
    order: 1;
  }

  #generate-image-button {
    display: block;
  }
}

