
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

/* Modal Content */
.modal-content {
  margin-left: 400px;
  margin-top: -70px;
  width: 80%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
img {
    float: left;
    height:  300px;
    object-fit: cover;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#double{
  height: 400px;
}

#random-image {
  z-index: -100;
  float: right;
  margin-left: 10px;
}

#menu-btn {
  display: none;
}

#content {
 position: relative;
  z-index: 0;
  margin-top:0;
}

#links {
font-family: arial;
  top: 0;
  left: 5;
  width: 100%;
  background-color: none;
}

#generate-image-button {
  display: block;
}

#image-container {
  order: 2;
}

@media only screen and (max-width: 720px) {
  img {
    float: left;
    width:  100%;
    height:  auto;
    object-fit: cover;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 8px;
  }
    #menu-btn {
    display: block;
  }

    #content {
    flex-direction: column;
    margin-top: 0;
  }

 #links.show {
  max-width: 97%;
    position: absolute;
    margin-top: 29.5px;
    display: block;
    background-color: white;
  }
  #links {
    display: none;
  }

  #generate-image-button {
    display: block;
  }

  #image-container {
    order: 1;
  }

  #generate-image-button {
    display: block;
  }
}

