
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
img {
    float: left;
    height:  300px;
    object-fit: cover;
}

#double{
  height: 400px;
}

@media only screen and (max-width: 720px) {
  img {
    float: left;
    width:  100%;
    height:  auto;
    object-fit: cover;
  }
}